<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Buildings
  </div>

  <ul class="list-group list-group-flush">
    <% @amenity.buildings.each do |building| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/buildings/<%= building.id %>">
          <%= building %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
