<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User Preferences
  </div>

  <ul class="list-group list-group-flush">
    <% @amenity.user_preferences.each do |preference| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/preferences/<%= preference.id %>">
          <%= preference %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
