<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @building_amenity, partial: "card", as: :building_amenity %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
